:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  max-width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

input, select {
  min-width: 44px;
  height: 1.4em;
}

#main {
  width: 480px;
  max-width: 95%;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 4px;
  padding: 24px;
  border-radius: 8px;
  border: 1px solid rgba(255,255,255,0.4);
  background: rgba(2,2,2,0.7);
  opacity: 1;
  transition: 100ms all ease-in-out;
  display: flex;
  flex-direction: column;
}

#main:hover, #main:focus {
  opacity: 1;
}

#main.closed {
  transform: translateX(-50%) translateY(90%);
}

.hidden {
  display: none;
}

.position-controls, .position-controls>div {
  display: flex;
  justify-content: space-between;
}

label {
  padding-right: 8px;
}

input[type="range"] {
  width: 100%;
}

canvas {
  max-width: 100%;
}
#main-container-controls {
  display: flex;
  justify-content: space-between;
}

#closeMain {
  background: #3DD1E7;
  font-size: 0.8em;
  line-height: 1em;
  color: rgba(0,0,0,1);
  padding-left: 2em;
  padding-right: 1em;
  display: block;
  background-position: 5% 52%;
  background-repeat: no-repeat;
  background-image: url('/icons/chevron-down.svg');
  transition: 100ms all ease-in-out;
  margin-top: -44px;
}

#closeMain.closed {
  margin-top: -44px;
  background-image: url('/icons/chevron-up.svg');
}

#reset-container {
  margin-top: -44px;
}

#download-container {
  padding-top: 1em;
}
/* CSS */
.download-cta {
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-size: 1em;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: 150ms font-size ease-in-out;
}

.download-cta:focus {
  outline: 0;
}

.download-cta:after {
  content: '';
  position: absolute;
  border: 4px solid #000000;
  bottom: 2px;
  left: 2px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  transition: 150ms all ease-in-out;
}

.download-cta:hover {
  color: black;
  font-size: 1.25em;
}
.download-cta:hover:after {
  bottom: -8px;
  left: -8px;
}

@media (min-width: 480px) {
  .download-cta {
    font-size: 1rem;
  }
}

input, select, label {
  line-height: 2em;
}
.field-line {
  margin-top: 4px;
  margin-bottom: 4px;
}

#installButtonContainer button {
  line-height: 1em;
}

#installButtonContainer button img {}

#installButton {
  background: url('/icons/bookmark-plus.svg') 2% 50% no-repeat;
  padding-left: 2em;
  background-color: rgba(10, 50, 0, 0.8);
}

#installButtonContainer:hover {
  opacity: 1;
}
#installButtonContainer {
  margin-top: -44px;
}
#installButtonContainer button {
  margin: 0em;
}

div#installButtonContainer span {
  display: block;
  font-size: 0.8em;
  font-weight: bold;
  opacity: 0.5;
  padding-bottom: 1em;
}

#instructions-container ol {
  margin-top: 48px;
}

#instructions-container ol li {
  padding: 10px 24px 26px 24px;
  max-width: 300px;
  margin-top: 24px;
  line-height: 1em;
  text-align-last: left;
  font-weight: 500;
  position: relative;
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
}
#instructions-container ol li.warning {
  font-size: 0.75em;
}

#instructions-container ol li.warning:before {
  display: none;
}

#instructions-container ol li:after {
  content: '';
  position: absolute;
  border: 4px solid #000000;
  bottom: 2px;
  left: 2px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  transform: rotate(-2deg);
  transition: 150ms all ease-in-out;
}

#instructions-container ::marker {
  font-weight: bold;
  color: #3DD1E7;
  font-size:2em;
  z-index: 9;
}

#instructions-container li:before {
  z-index: -1;
  content: '';
  position: absolute;
  background: black;
  border: 4px solid #3DD1E7;
  left: -50px;
  top: 0em;
  width: 3.5em;
  height: 2em;
  transform: rotate(6deg);
  transition: 150ms all ease-in-out;
}

.logo-ball {
  position: absolute;
  width: 64px;
  height: 64px;
  left: -24px;
  top: 24px;
  border: 4px solid #3DD1E7;
  box-shadow: inset 3px 3px 3px #222;
  border-radius: 100%;
  background-image: url('/favicon.png');
  background-size: 100% auto;
  z-index: -1;
}

.wordart {
  font-family: Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 2em;
  margin-left: 2em;
  margin-top: -16px;
}

.wordart.superhero {
  transform: skew(0, -15deg) scale(1, 1.5);
  -webkit-transform: skew(0, -8deg) scale(1, 1.5);
  -moz-transform: skew(0, -8deg) scale(1, 1.5);
  -o-transform: skew(0, -8deg) scale(1, 1.5);
  -ms-transform: skew(0, -8deg) scale(1, 1.5);
}

.wordart.superhero .text {
  font-family: Impact;
  background: #fdea00;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #fdea00 0%, #fdcf00 44%, #fc2700 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdea00), color-stop(44%, #fdcf00), color-stop(100%, #fc2700));
  background: -webkit-linear-gradient(top, #fdea00 0%, #fdcf00 44%, #fc2700 100%);
  background: -o-linear-gradient(top, #fdea00 0%, #fdcf00 44%, #fc2700 100%);
  background: -ms-linear-gradient(top, #fdea00 0%, #fdcf00 44%, #fc2700 100%);
  background: linear-gradient(to bottom, #fdea00 0%, #fdcf00 44%, #fc2700 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdea00', endColorstr='#fc2700', GradientType=0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wordart.superhero .text:before {
  content: attr(data-text);
  position: absolute;
  z-index: -1;
  text-shadow: 0.01em 0em 0 #802700, 0em 0.01em 0 #c23d00, 0.02em 0.01em 0 #802700, 0.01em 0.02em 0 #c23d00, 0.03em 0.02em 0 #802700, 0.02em 0.03em 0 #c23d00, 0.04em 0.03em 0 #802700, 0.03em 0.04em 0 #c23d00, 0.05em 0.04em 0 #802700, 0.04em 0.05em 0 #c23d00, 0.06em 0.05em 0 #802700, 0.05em 0.06em 0 #c23d00, 0.07em 0.06em 0 #802700, 0.06em 0.07em 0 #c23d00, 0.08em 0.07em 0 #802700, 0.07em 0.08em 0 #c23d00;
}

input[type=file] {
  display: none;
}
label.input-file-label {
  padding: 0.5em 2em 0.5em 2.25em;
  text-align: center;
  border: 2px dashed #fff;
  cursor: pointer;
  background-color: #3DD1E7;
  color: black;
  font-weight: bold;
  background-image: url('/icons/upload.svg');
  background-repeat: no-repeat;
  background-position: 5% 50%;
  transition: all ease-in-out 100ms;
}

label.input-file-label:hover {
  box-shadow: 0px 0px 3px 6px #3DD1E7;
}
label[for=how] {
  padding-bottom: 1em;
  display: block;
}

.slider-wrapper{
  width: 440px;
  overflow: hidden;
  overflow-x: scroll;
}

#slider {
  display: flex;
  flex-direction: row;
  overflow-x: visible;
  width: auto;
  height: 100px;
}

#slider .slide {
  display: inline-block;
  border: 1px solid white;
  margin: 1em;
  width:  80px;
  padding: 0;
  height: 80px;
}

#slider .slide img {
  width:  80px;
  height: auto;
  margin-top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.5);
}
